<?xml version="1.0" encoding="utf-8" ?> 
<!--This is the root of your config file-->
<configuration> <!-- Level 0 -->
  <!--This specifies what the section name is-->
  <configSections> <!-- Level 1 -->
    <section name="log4net" 
      type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net"/> <!-- Level 2 -->
  </configSections>
  <log4net> <!-- Level 1 -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="../../logs/%appdomain.log"/>
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} 
        [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root> <!-- Level 2 -->
      <level value="DEBUG"/> <!-- Level 3 -->
      <appender-ref ref="ConsoleAppender"/> <!-- Level 3 -->
    </root>
    <logger name="DBLogger"> <!-- Level 2 -->
      <level value="DEBUG"/> <!-- Level 3 -->
      <appender-ref ref="RollingFileAppender"/> <!-- Level 3 -->
    </logger>
    <logger name="RepositoryLogger"> <!-- Level 2 -->
      <level value="DEBUG"/> <!-- Level 3 -->
      <appender-ref ref="RollingFileAppender"/> <!-- Level 3 -->
    </logger>
   <logger name="ConsoleLogger"> <!-- Level 2 -->
      <level value="DEBUG"/> <!-- Level 3 -->
      <appender-ref ref="ConsoleAppender"/> <!-- Level 3 -->
    </logger>
  </log4net>
</configuration>